@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: url('consultorio_3.jpg') no-repeat center center fixed;
    background-size: cover;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.btn{
    height: 35px;
    background: rgba(76,68,182,0.808);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
}

/********* Home *****************/

.nav{
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}
.logo{
    font-size: 25px;
    font-weight: 900;
    
}
.logo a{
    text-decoration: none;
    color: #000;
}
.right-links a{
    padding: 0 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}



.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Ajusta este margen según tu diseño */
}

.side-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
    width: 100%; /* Cambiado el ancho al 100% para ocupar todo el ancho disponible */
    max-width: 300px; /* Añadido un máximo de ancho para evitar que se extienda demasiado */
    margin: 0 auto; /* Centrar el contenido horizontalmente */
    padding: 20px; /* Añadir relleno para mejorar la apariencia */
    box-sizing: border-box; /* Incluir el relleno en el ancho total */
}


.side-content .box {
    width: 100%;
    max-width: 400px; /* Ajusta este ancho máximo según tu diseño */
    margin: 10px; /* Ajusta este margen según tu diseño */
}



.box {
    width: 100%;
    max-width: 400px;
    margin: 10px;
}

.box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    width: 100%;
    margin-top: 20px;
}
@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}
.message{
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border:1px solid #699053;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}
div.a {
    padding-top: 30px;
    padding-bottom: 80px;
    padding-right: 50px;
    padding-left: 40px;
    background-color: azure;
  }
  div.b { /*Propiedad corta*/
    padding: 30px 50px 80px 40px;
    background-color: darkseagreen;
  }